
.vscode/settings.json
Python/python-socket-home/.idea/vcs.xml
Python/python-socket-home/.idea/python-socket-home.iml
Python/python-socket-home/.idea/modules.xml
Python/python-socket-home/.idea/misc.xml
Python/python-socket-home/.idea/inspectionProfiles/profiles_settings.xml
Python/python-socket-home/.idea/workspace.xml
